<div class="sticky top-0 border-bottom-1 border-gray-200 z-1">
    <p-toolbar [styleClass]="'bg-white border-top-none border-x-none border-around'
    +'sm:flex sm:justify-between sm:items-center sm:w-full md:flex md:justify-content-between px-8'"> 
    <div class="p-toolbar-group-start pl-1 sm:hidden md:flex cursor-pointer">
        <fa-icon [icon]="['fab', 'airbnb']" size="3x" class="text-premary"></fa-icon>
        <div class="font-bold text-premary pl-2 text-2xl"></div>
    </div>
    </p-toolbar>
</div>